.controlBar {
 width: 100%;
 height: 40px;
 background-color: #FFFFFF;
 font:bold 24px/1.2em sans-serif;
 color: #ffffff;
}

.button
{
 height: 31px;
 margin-left: 5px;
 margin-top: 2px;
 padding-top: px;
 text-decoration: none;
 font: bold 25px/1.2em 'Trebuchet MS',Arial, Helvetica;
 display: inline-block;
 text-align: center;
 color: #fff;
 border: 2px solid #333;
}

.button, .button span  {
 -moz-border-radius: 2px;
 border-radius: 2px;
}

.button span {
 display: block;
 padding: 0 10px 0 10px;
}

.button:hover {
 box-shadow: 0 0 .1em rgba(0,0,0,0.4);
 -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
 -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active {
 position: relative;
 top: 1px;
}

.button-blue {
 background: #515151;
}

.button-blue:hover {
 background: #717171;
}

.button-blue:active { background: #616161; }

.swInfo {
 position: absolute;
 right: 5px;
 top: 5px;
 font-size: 18px;
}

table.hovertable {
 font-family: verdana,arial,sans-serif;
 font-size:11px;
 color:#333333;
 border-width: 1px;
 border-color: #999999;
 border-collapse: collapse;
}

table.hovertable th {
 background-color:#DCD9D6;
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: #a9c6c9;
}

table.hovertable tr {
 background-color:#ffffff;
}

table.hovertable td {
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: #a9c6c9;
}
